//https://docs.noctalia.dev/getting-started/keybinds/


//- https://yalter.github.io/niri/Configuration%3A-Introduction.html
//spawn-at-startup "qs" "-c" "noctalia-shell"
//spawn-at-startup "blueman-applet"
//spawn-at-startup "sh" "-c" "~/startup-apps.sh"

//spawn-at-startup "awww-daemon"
spawn-at-startup "eww" "daemon"
spawn-at-startup "eww" "open" "bar"
spawn-at-startup "eww" "open" "widget"
spawn-at-startup "eww" "open" "task"
spawn-at-startup "eww" "open" "quickbar"
spawn-at-startup "kdeconnect-indicator"
//spawn-at-startup "swaync"
spawn-at-startup "nm-applet --indicator"
spawn-sh-at-startup "wl-paste --watch cliphist store"
//spawn-at-startup "sh" "-c" "bin/brave" "--profile-directory=1 --app=https://www.notion.so/"
//spawn-at-startup "sh" "-c" "~/.config/niri/idle.sh"
spawn-at-startup "xwayland-satellite"
// START UP APPS
//spawn-sh-at-startup "/bin/brave --profile-directory=1 --app=https://www.notion.so/"
spawn-sh-at-startup "wayvnc 0.0.0.0 5900 --render-cursor --output DP-1"
spawn-sh-at-startup "wlsunset -l 0 -L 0 -t 5800 -T 5801"
spawn-sh-at-startup "python ~/.config/eww/yuck/widgets/Dnotes/dnotes.py prev"
//spawn-sh-at-startup "/bin/brave --profile-directory=1 --app=https://streak-sphere.vercel.app/dashboard"
//spawn-sh-at-startup "/bin/brave --profile-directory=1 --app=https://play.google.com/store/account/subscriptions"
//spawn-sh-at-startup "/bin/brave --profile-directory=1 --app=https://learn.microsoft.com/en-us/azure/architecture/best-practices/api-design"
//spawn-at-startup "niri" "msg" "action" "focus-workspace-down"

// by running `niri msg outputs` while inside a niri instance.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
output "eDP-1" {
    // off
    focus-at-startup
    mode "1920x1080@144.002"
    // mode "1920x1080@60.001"
   variable-refresh-rate
    //background-color "#4c5b6b"
    //can use integer;example use 1.5 for 150% scale.
    scale 1
    transform "normal"
    position x=0 y=0
    backdrop-color "#65578f"
}
output "DP-1"{
    //rn11 display
    off
// wayvnc 0.0.0.0 5900 --render-cursor --output DP-1
    //   mode "1024x768@60.004"
   // mode "640x480@59.940"
   mode "848x480@60.000"
    position x=700 y=-480
    //transform "90"
    scale 1

    //background-color "#9661ff"
}


hotkey-overlay {
    skip-at-startup
}
debug {
    force-disable-connectors-on-resume
    emulate-zero-presentation-time
    disable-resize-throttling
    render-drm-device "/dev/dri/renderD128"
    deactivate-unfocused-windows
//     Intel:
//     /dev/dri/card1
//     /dev/dri/renderD128
//
//     NVIDIA:
//     /dev/dri/card0
//     /dev/dri/renderD129
}
environment{
    DISPLAY ":0"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "Niri"
    XDG_SESSION_DESKTOP "Niri"
    GTK_USE_PORTAL "1"

	//n8n envs
	DB_SQLITE_POOL_SIZE "1"
	N8N_RUNNERS_ENABLED "true"
	N8N_BLOCK_ENV_ACCESS_IN_NODE "false"   // only if you need env access
	//theming
	QT_QPA_PLATFORMTHEME "qt6ct"
//	QT_STYLE_OVERRIDE "kvantum:noalternatingcolors"

}
prefer-no-csd
overview{
    zoom 0.3
}
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction
// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {
        }
        numlock
    }
    touchpad {
        // off
        tap
        natural-scroll
        accel-speed 0.2
        dwt
      //  disabled-on-external-mouse
        //scroll-method "edge"
    }
    mouse {
        // off
        // natural-scroll
         accel-speed -0.7
        accel-profile "flat"
        scroll-factor 1.0
        // scroll-factor vertical=1.0 horizontal=-2.0
        // scroll-method "no-scroll"
        // scroll-button 273
        // scroll-button-lock
        // left-handed
         middle-emulation
    }
    focus-follows-mouse
}
cursor {
    hide-when-typing
    hide-after-inactive-ms 1000
   xcursor-theme "GoogleDot-White"
//Bibata-Modern-Ice
//
//Elastic
//Night Diamond (Blue)
    xcursor-size 8
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    gaps 10
     empty-workspace-above-first
     //default-column-display "tabbed"
    center-focused-column "never"
    //always-center-single-column
    preset-column-widths {
       proportion 0.85
       proportion 0.5
    }
    preset-window-heights {
        proportion 0.5

        proportion 1.0
        fixed 720
        }
    default-column-width { proportion 0.8; }
    // 0.1 -> 1A (17 in decimal)
    // 0.2 -> 33 (51 in decimal)
    // 0.3 -> 4D (77 in decimal)
    // 0.4 -> 66 (102 in decimal)
    // 0.5 -> 80 (128 in decimal)
    // 0.6 -> 99 (153 in decimal)
    // 0.7 -> B3 (179 in decimal)
    // 0.8 -> CC (204 in decimal)
    // 0.9 -> E6 (230 in decimal)
    // 1.0 -> FF (255 in decimal)
   //background-color "#ffffff1a"
   //background-color "#ffffff1A"
    background-color "transparent"
   // draw-border-with-background
    border {
        // off
        width 6
        active-color "#262626"
   //   active-gradient from="#53527a" to="#527a74" angle=45 in="oklch decreasing hue"
        inactive-color "#262626"
        urgent-color "#de4923"
    }


     /-insert-hint {
        // off
        on
        color "#ffc87f80"
        // gradient from="#ffbb6680" to="#ffc88080" angle=45 relative-to="workspace-view"
    }
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

recent-windows {
    // off
    debounce-ms 200

    open-delay-ms 0

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 15
        corner-radius 20
    }

    previews {
        max-height 480
        max-scale 0.3
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}


//include "./noctalia.kdl"
include "./struts.kdl"
include "./keybinds.kdl"
include "./layer_rules.kdl"
include "./window_rules.kdl"
include "./decorations.kdl"
include "./animations.kdl"
