//https://docs.noctalia.dev/getting-started/keybinds/


//- https://yalter.github.io/niri/Configuration%3A-Introduction.html
//spawn-at-startup "qs" "-c" "noctalia-shell"
//spawn-at-startup "blueman-applet"
//spawn-at-startup "sh" "-c" "~/startup-apps.sh"

spawn-at-startup "awww-daemon"
spawn-at-startup "eww" "daemon"
spawn-at-startup "eww" "open" "bar"
spawn-at-startup "eww" "open" "quickbar"
spawn-at-startup "kdeconnect-indicator"
//spawn-at-startup "swaync"
spawn-at-startup "nm-applet --indicator"
spawn-at-startup "wl-paste --watch cliphist store"
//spawn-at-startup "sh" "-c" "bin/brave" "--profile-directory=1 --app=https://www.notion.so/"
//spawn-at-startup "sh" "-c" "~/.config/niri/idle.sh"
spawn-at-startup "xwayland-satellite"

// START UP APPS
//spawn-sh-at-startup "/bin/brave --profile-directory=1 --app=https://www.notion.so/"
spawn-sh-at-startup "wlsunset -l 0 -L 0 -t 5800 -T 5801"
spawn-sh-at-startup "/bin/brave --profile-directory=1 --app=https://streak-sphere.vercel.app/dashboard"
spawn-sh-at-startup "/bin/brave --profile-directory=1 --app=https://play.google.com/store/account/subscriptions"
//spawn-at-startup "niri" "msg" "action" "focus-workspace-down"

hotkey-overlay {
    skip-at-startup
}
debug {
    render-drm-device "/dev/dri/card1"
// card1 = igpu
// card0 = rtx
}
environment{
    DISPLAY ":0"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "Niri"
    XDG_SESSION_DESKTOP "Niri"
    GTK_USE_PORTAL "1"

	//n8n envs
	DB_SQLITE_POOL_SIZE "1"
	N8N_RUNNERS_ENABLED "true"
	N8N_BLOCK_ENV_ACCESS_IN_NODE "false"   // only if you need env access
	//theming
	QT_QPA_PLATFORMTHEME "qt6ct"
//	QT_STYLE_OVERRIDE "kvantum:noalternatingcolors"

}
prefer-no-csd
overview{
    zoom 0.25
}
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction
// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {
        }
        numlock
    }
    touchpad {
        // off
        tap
        natural-scroll
        accel-speed 0.2
        //disabled-on-external-mouse
    }
    mouse {
        // off
        // natural-scroll
         accel-speed -0.7
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }
    focus-follows-mouse
}
cursor {
    hide-when-typing
    hide-after-inactive-ms 1000
   xcursor-theme "Bibata-Modern-Ice"
//
//Night Diamond (Blue)
//Elastic
//
    xcursor-size 16
}
// by running `niri msg outputs` while inside a niri instance.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
output "eDP-1" {
    // off
    focus-at-startup
   mode "1920x1080@144.002"
    // mode "1920x1080@60.001"
    variable-refresh-rate
    //can use integer;example use 1.5 for 150% scale.
    scale 1.5
    transform "normal"
    position x=0 y=0
}
output "DP-1"{
    //rn11 display
    off

    mode "1024x768@60.004"
    position x=1920 y=580
    //background-color "#7e49a6"
    background-color "#004173"

}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    gaps 4
     empty-workspace-above-first
     //default-column-display "tabbed"
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 1.0
       proportion 0.5
    }
    preset-window-heights {
        proportion 0.5
        proportion 1.0
        fixed 720
        }
    default-column-width { proportion 1.0; }
    //background-color "#6a6fd9"
    background-color "#00000000"
  //    draw-border-with-background
    tab-indicator {
        // off
        //hide-when-single-tab
        place-within-column
        gap 8
        width 8
        length total-proportion=0.4
        position "left"
        gaps-between-tabs 19
        corner-radius 7
        active-color "#59FF9E"
        inactive-color "#42B5E3"
        urgent-color "red"

    }
    // blur {
    //     // off
    //     passes 3
    //     offset 3
    //     noise 0.02
    //     saturation 1.5
    // }
    struts {
        left 18
        right 18
        top 33
         //top 0
        bottom 0
    }
     /-insert-hint {
        // off
        on
        color "#ffc87f80"
        // gradient from="#ffbb6680" to="#ffc88080" angle=45 relative-to="workspace-view"
    }
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

recent-windows {
    // off
    debounce-ms 20

    open-delay-ms 0

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 15
        corner-radius 20
    }

    previews {
        max-height 480
        max-scale 0.3
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }

        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window     filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}


//include "./noctalia.kdl"
include "./struts.kdl"
include "./keybinds.kdl"
include "./layer_rules.kdl"
include "./window_rules.kdl"
include "./decorations.kdl"
include "./animations.kdl"
