//https://docs.noctalia.dev/getting-started/keybinds/


//- https://yalter.github.io/niri/Configuration%3A-Introduction.html
//spawn-at-startup "qs" "-c" "noctalia-shell"
//spawn-at-startup "blueman-applet"
//spawn-at-startup "sh" "-c" "~/startup-apps.sh"

spawn-at-startup "awww-daemon"
spawn-at-startup "eww" "daemon"
spawn-at-startup "eww" "open" "bar"
spawn-at-startup "eww" "open" "quickbar"
spawn-at-startup "kdeconnect-indicator"
//spawn-at-startup "swaync"
spawn-at-startup "nm-applet --indicator"
spawn-at-startup "wl-paste --watch cliphist store"
//spawn-at-startup "sh" "-c" "bin/brave" "--profile-directory=1 --app=https://www.notion.so/"
//spawn-at-startup "sh" "-c" "~/.config/niri/idle.sh"
spawn-at-startup "xwayland-satellite"

// START UP APPS
//spawn-sh-at-startup "/bin/brave --profile-directory=1 --app=https://www.notion.so/"
spawn-sh-at-startup "wlsunset -l 0 -L 0 -t 5800 -T 5801"
spawn-sh-at-startup "/bin/brave --profile-directory=1 --app=https://streak-sphere.vercel.app/dashboard"
spawn-sh-at-startup "/bin/brave --profile-directory=1 --app=https://play.google.com/store/account/subscriptions"
//spawn-at-startup "niri" "msg" "action" "focus-workspace-down"

hotkey-overlay {
    skip-at-startup
}


debug {

    render-drm-device "/dev/dri/card1"
// card1 = igpu
// card0 = rtx
}
environment{
    DISPLAY ":0"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "Niri"
    XDG_SESSION_DESKTOP "Niri"
    GTK_USE_PORTAL "1"

	//n8n envs
	DB_SQLITE_POOL_SIZE "1"
	N8N_RUNNERS_ENABLED "true"
	N8N_BLOCK_ENV_ACCESS_IN_NODE "false"   // only if you need env access
	//theming
	QT_QPA_PLATFORMTHEME "qt6ct"
//	QT_STYLE_OVERRIDE "kvantum:noalternatingcolors"

}
prefer-no-csd


overview{
    zoom 0.25
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {

        }
        numlock
    }
    touchpad {
        // off
        tap
        natural-scroll
        accel-speed 0.2
        //disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
         accel-speed -0.7
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }
    focus-follows-mouse
}

cursor {
    hide-when-typing
    hide-after-inactive-ms 1000

   xcursor-theme "Bibata-Modern-Ice"
//
//Night Diamond (Blue)
//Elastic
//
//
    xcursor-size 16
}





// by running `niri msg outputs` while inside a niri instance.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
output "eDP-1" {

    // off
    focus-at-startup
   mode "1920x1080@144.002"
    // mode "1920x1080@60.001"
    variable-refresh-rate
    //can use integer;example use 1.5 for 150% scale.
    scale 1.5
    transform "normal"
    position x=0 y=0

}
output "DP-1"{

    //rn11 display

    off

    mode "1024x768@60.004"
    position x=1920 y=580
    //background-color "#7e49a6"
    background-color "#004173"

}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    gaps 4
     empty-workspace-above-first
     //default-column-display "tabbed"
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 1.0
       proportion 0.5
    }
    preset-window-heights {
        proportion 0.5
        proportion 1.0
        fixed 720
        }
    default-column-width { proportion 1.0; }
    //background-color "#6a6fd9"
    background-color "#00000000"
  //    draw-border-with-background
    focus-ring {
        off
        width 2
        active-color "#383838FF"
        //active-gradient from="#42B5E3" to="#57C785" angle=90
        //active-gradient from="#0091ff" to="#9000ff" angle=45
        inactive-color "#2e2e2eFF"

        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
    border {

        //off
        width 6
     //   active-color "#2b2b2b"
        active-color "#2e2e32"
        inactive-color "#28282c"
        // active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
    shadow {
         on
         draw-behind-window false
        softness 18
        spread 1
        offset x=0 y=0
        color "#000000FF"
    }

    tab-indicator {
        // off
        //hide-when-single-tab
        place-within-column
        gap 8
        width 8
        length total-proportion=0.4
        position "left"
        gaps-between-tabs 19
        corner-radius 7
        active-color "#59FF9E"
        inactive-color "#42B5E3"
        urgent-color "red"

    }
    struts {
        left 18
        right 18
        top 33
         //top 0
        bottom 0
    }
     /-insert-hint {
        // off
        on
        color "#ffc87f80"
        // gradient from="#ffbb6680" to="#ffc88080" angle=45 relative-to="workspace-view"
    }
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

recent-windows {
    // off
    debounce-ms 0

    open-delay-ms 0

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 15
        corner-radius 10
    }

    previews {
        max-height 480
        max-scale 1
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }

        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window     filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}


// Animation settings.
// The wiki explains how to configure individual animations:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
    // off
    slowdown 1

    // Individual animations.
    overview-open-close {
        spring damping-ratio=1.6 stiffness=1000 epsilon=0.0001
    }
    workspace-switch {
        spring damping-ratio=1.5 stiffness=900 epsilon=0.0009
    }

    window-open {

        duration-ms 550
        curve "ease-out-cubic"
    }



    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.6 stiffness=900 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.4 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=2.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=1.6 stiffness=1000 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }


}
layer-rule {
	match namespace="^awww-daemon$"

    //match namespace="^mpv$"
	place-within-backdrop true
}
window-rule {
    match app-id="Loupe"

    popups {
        // Matches the default libadwaita pop-up corner radius.
        geometry-corner-radius 15
        opacity 0.75

        background-effect {
            blur true
        }
    }
}
// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
//    match app-id=r#"mpv"#
   open-floating true
   }

   //security
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

}

window-rule {
    match app-id="^blender$"

    // GIMP app ID contains the version like "gimp-2.99",
    // so we only match the beginning (with ^) and not the end.
    match app-id="^gimp"

    default-column-width { fixed 1080; }
}
window-rule {
    match title=".* - YouTube$" is-floating=true

    min-width 1164
    max-width 1164
    min-height 656
    max-height 656
}
window-rule {
    match app-id="^*$"
    opacity 0.9
    background-effect {
        blur true
        xray true
    }
}
layer-rule {
    match namespace="^rofi$"
    geometry-corner-radius 30
    background-effect {
        blur true
        xray true
    }
}
window-rule {
    match app-id="Nautilus"

    popups {
        geometry-corner-radius 15
        opacity 0.5

        background-effect {
            blur true
        }
    }
}


window-rule {
    geometry-corner-radius 11
    clip-to-geometry true
}

binds {
    // `niri msg action do-something`.

    // Mod-Shift-/, which is usually the same as Mod-?,
   // Mod+Shift+Slash { show-hotkey-overlay; }
   // Alt+Tab {focus-window-previous;}
    Alt+Space {spawn "bash" "-c" "/home/milesdredd/.local/share/bin/surf.sh"; }
    Mod+Space {spawn "bash" "-c" "/home/milesdredd/.local/share/bin/search.sh"; }
    Mod+Ctrl+B {spawn "bash" "-c" "/home/milesdredd/.config/niri/struts.sh";}
    Mod+Backspace {spawn "systemctl" "suspend";}
    Mod+N {spawn "bash" "-c" "swaync-client -t";}
    
    Alt+r {spawn "bash" "-c" "pkill eww && eww open bar && eww open quickbar";}
    
    Mod+Ctrl+BracketLeft {spawn "bash" "-c" "eww update rqb=false";}
    Mod+Ctrl+BracketRight {spawn "bash" "-c" "eww update rqb=true";}
   //Mod+Shift+Q  hotkey-overlay-title="force kill a appliication" {spawn "xdotool" "selectwindow" "windowkill";}
    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+T hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+A hotkey-overlay-title="Run an Application: rofi" { spawn "rofi" "-show" "drun" "-theme" "/home/milesdredd/.config/rofi/styles/style_3.rasi"; }
    Super+Alt+P hotkey-overlay-title="Lock the Screen: hyprlock" { spawn "hyprlock"; }
    Mod+E {spawn "dolphin";}
    Mod+Ctrl+v {spawn "bash" "-c" "cliphist list | rofi -dmenu -theme clipboard.rasi | cliphist decode | wl-copy";}
    // You can also use a shell. Do this if you need pipes, multiple commands, etc.
    // Note: the entire command goes as a single argument in the end.
    // Mod+T { spawn "bash" "-c" "notify-send hello && exec alacritty"; }
    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
//    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
//    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
//    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
//   XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
//    XF86MonBrightnessDown  allow-when-locked=true { spawn  "brightnessctl" "set" "10%-";}
//   XF86MonBrightnessUp allow-when-locked=true { spawn  "brightnessctl" "set" "+10%";}
   //--------//



     XF86AudioRaiseVolume allow-when-locked=true { spawn "sh" "-c" "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+; eww update volume=$(wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print $2 * 100}')"; }
     XF86AudioLowerVolume allow-when-locked=true { spawn "sh" "-c" "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-; eww update volume=$(wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print $2 * 100}')"; }
     XF86AudioMute        allow-when-locked=true { spawn "sh" "-c" "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle; eww update volume=$(wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print $2 * 100}')"; }
     XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
     XF86MonBrightnessDown  allow-when-locked=true { spawn "sh" "-c" "brightnessctl set 5%-; eww update brightness=$(brightnessctl -m | cut -d, -f4 | tr -d '%')";}
     XF86MonBrightnessUp allow-when-locked=true { spawn "sh" "-c" "brightnessctl set +5%; eww update brightness=$(brightnessctl -m | cut -d, -f4 | tr -d '%')";}
   //--------//

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    // You can also move the mouse into the top-left hot corner,
    // or do a four-finger swipe up on a touchpad.
    Mod+O repeat=false { toggle-overview; }
    //Mod+Shift+q repeat=false { spawn "xkill"}
    Mod+Q     { close-window; }
    Alt+F4   {close-window;}
    Mod+Alt+down{ focus-window-down; }
    Mod+Alt+J { focus-window-down; }
    Mod+Alt+up{ focus-window-up; }
    Mod+Alt+K { focus-window-up; }
    Mod+Left  { focus-column-left; }
    //Mod+Up    { focus-workspace-up; }
    Mod+Up    { maximize-window-to-edges; }
    Mod+Down  { focus-workspace-down; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-workspace-down; }
    Mod+K     { focus-workspace-up; }
    Mod+L     { focus-column-right; }


    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  {move-column-to-workspace-down;}
    Mod+Shift+Up    {move-column-to-workspace-up;}
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-column-to-workspace-down;}
    Mod+Shift+K     {move-column-to-workspace-up;}
    Mod+Shift+L     { move-column-right; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    //Mod+Shift+Left  { focus-monitor-left; }
    //Mod+Shift+Down  { focus-monitor-down; }
    //Mod+Shift+Up    { focus-monitor-up; }
    //Mod+Shift+Right { focus-monitor-right; }
    //Mod+Shift+H     { focus-monitor-left; }
    //Mod+Shift+J     { focus-monitor-down; }
    //Mod+Shift+K     { focus-monitor-up; }
    //Mod+Shift+L     { focus-monitor-right; }

    //Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    //Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    //Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    //Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    //Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    //Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    //Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    //Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    //Mod+Page_Down      { focus-workspace-down; }
    //Mod+Page_Up        { focus-workspace-up; }
    //Mod+U              { focus-workspace-down; }
    //Mod+I              { focus-workspace-up; }
    //Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    //Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    //Mod+Ctrl+U         { move-column-to-workspace-down; }
    //Mod+Ctrl+I         { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    //Mod+Shift+U         { move-workspace-down; }
    //Mod+Shift+I         { move-workspace-up; }

    // You can bind mouse wheel scroll ticks using the following syntax.
    // These binds will change direction based on the natural-scroll setting.
    //
    // To avoid scrolling through workspaces really fast, you can use
    // the cooldown-ms property. The bind will be rate-limited to this value.
    // You can set a cooldown on any bind, but it's most useful for the wheel.
    Mod+WheelScrollDown      cooldown-ms=250 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=250 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=250 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=250 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }
    Mod+Alt+WheelScrollUp     {focus-window-up;}
    Mod+Alt+WheelScrollDown     {focus-window-down;}
    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    // Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }

    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F {toggle-windowed-fullscreen; }
	Mod+Return { maximize-column; }

    Alt+Return { fullscreen-window; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C { center-visible-columns; }
    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+Ctrl+Left { set-column-width "-10%"; }
    Mod+Ctrl+Right { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Ctrl+Up { set-window-height "-10%"; }
    Mod+Ctrl+Down { set-window-height "+10%"; }
	// vim like resizing :

	Mod+Ctrl+H { set-column-width "-10%"; }
    Mod+Ctrl+L { set-column-width "+10%"; }
	// Finer height adjustments when in column with other windows.
    Mod+Ctrl+K { set-window-height "-10%"; }
    Mod+Ctrl+J { set-window-height "+10%"; }


    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+W { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }


}
//include "./noctalia.kdl"
include "./struts.kdl"
