// Decorations
blur {
    // off
    passes 3
    offset 3
    noise 0.00
    saturation 1.8
}
layout {
    border {
        // off
        width 2
        active-color "#212121"
        inactive-color "#212121"
        urgent-color "#9b0000"
    }
    tab-indicator {
        // off
        //hide-when-single-tab
        place-within-column
        gap 8
        width 8
        length total-proportion=0.4
        position "left"
        gaps-between-tabs 19
        corner-radius 7
        active-color "#59FF9E"
        inactive-color "#42B5E3"
        urgent-color "red"
    }
    focus-ring {
        // off
        width 0.1
        // active-color "#383838FF"
        active-color "#2b2b2b"
        inactive-color "#6e6e6e80"
    }
    shadow {
         on
         draw-behind-window false
        softness 9
        spread 4
        offset x=0 y=0
        color "#000000cc"
    }
}
