// Decorations
blur {
    // off
    passes 3
    offset 6
    noise 0.00
    saturation 2
}
window-rule {

    geometry-corner-radius 20
    clip-to-geometry true
}
layout {

    tab-indicator {
        // off
        //hide-when-single-tab
        place-within-column
        gap 8
        width 8
        length total-proportion=0.4
        position "left"
        gaps-between-tabs 19
        corner-radius 7
        active-color "#59FF9E"
        inactive-color "#42B5E3"
        urgent-color "red"
    }
    focus-ring {
         //off
        width 1
        // active-color "#383838FF"
        active-color "#474747CC"
        inactive-color "#474747"
    }
    shadow {
         on
         draw-behind-window false
        softness 7
        spread 3
        offset x=0 y=2
        color "#000000cc"
    }
}
