// Window Rules
window-rule {
    match app-id="Loupe"
    popups {
        geometry-corner-radius 2
        opacity 0.75
        background-effect {
            blur true
            xray false
        }
    }
}
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"

   open-floating true
   }

   //security
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}
window-rule {
    match app-id="^blender$"
    // GIMP app ID contains the version like "gimp-2.99",
    // so we only match the beginning (with ^) and not the end.
    match app-id="^gimp"
    default-column-width { fixed 1080; }
}
window-rule {
    match title=".* - YouTube$" is-floating=true
    // match app-id=r#"mpv"# is-floating=true
    // min-width 1164
    max-width 1164
    // min-height 656
    max-height 656
}


window-rule {
    match app-id="^*$"
    opacity 1.00
    background-effect {
        blur false
        xray false
    }
}
window-rule {
    match app-id="^*$"


    popups {
        geometry-corner-radius 10
        opacity 1.00

        background-effect {
            blur false
            xray false
        }
    }
}

//brave fake fullscreen
window-rule {
    match app-id="brave-browser"

    // not implemented yet !
   // open-windowed-fullscreen true

}



